<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net35" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net35" />
  <package id="Accord.Statistics" version="3.0.2" targetFramework="net35" />
  <package id="coveralls.net" version="0.6.0" targetFramework="net4" />
  <package id="MathNet.Numerics" version="3.11.0" targetFramework="net35" />
  <package id="NUnit" version="3.0.1" targetFramework="net35" />
  <package id="OpenCover" version="4.6.166" targetFramework="net4" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>